
<div class="form">

<%= render 'form' %>
</div>


<div id="page">
<ul id="slider">

    <li>
    	<%= image_tag('img/slider/ptmasala.jpg' )%>

     </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>


      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>
</ul>
<%= link_to 'Back', descuentos_path %>
