<%= form_for(@exitpop,:validate => true,remote: true) do |f| %>
  <% if @exitpop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exitpop.errors.count, "error") %>
       prohibited this exitpop from being saved:</h2>

      <ul>
      <% @exitpop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %><br/>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
