<h1>Listing exitpops</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exitpops.each do |exitpop| %>
  <tr>
    <td><%= exitpop.name %></td>
    <td><%= exitpop.email %></td>
    <td><%= link_to 'Show', exitpop %></td>
    <td><%= link_to 'Edit', edit_exitpop_path(exitpop) %></td>
    <td><%= link_to 'Destroy', exitpop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Exitpop', new_exitpop_path %>
