<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exitpop.name %>
</p>

<p>
  <b>Email:</b>
  <%= @exitpop.email %>
</p>


<%= link_to 'Edit', edit_exitpop_path(@exitpop) %> |
<%= link_to 'Back', exitpops_path %>
