<title><% title"indian-restaurant-barcelona" %></title>

<div class= "form ">
<%= render :partial=>'himalayas/form' %>
</div>
<div class= "menus">
<% @menus.each do |menu| %>
<div class= "foods">

     <br>  <%= link_to menu.name, menu_comidas_path(menu) %></br>
  <%=link_to (image_tag"#{(menu.image) }.jpg"),menu_comidas_path(menu)%>


                  <% if permitted_to? :edit,menu %>
    <%= link_to 'Edit', edit_menu_path(menu) %>
    <% end %>
                  <% if permitted_to? :destroy,menu %>

   <%= link_to 'Destroy', menu, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
</div>

<% end %>

</div>



