  <title><% title"indian-restaurant-barcelona" %></title>


  <div id="emailnotice"><%= notice %></div>


<div id="page">

<ul id="slider">
    <li>
    	<%= image_tag('img/slider/ptmasala.jpg' )%>
     </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>


      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>

      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>
</ul>
</div>
<div class="form" >
  <%= render 'form' %>
</div>

<div class="himalaya-description">
  Si quieres adentrarte en los sabores hindúes, sólo tienes que venir al restaurante Himalaya: ¡experimentarás un viaje de sabores a través de tu paladar! Pasa un velada ideal, y ¡despierta tus sentidos!<p>
Gastronomía hindú y todo el exotismo que te puedas imaginar, en pleno Eixample de Barcelona, a dos pasos de Arc de Triomf. Entra en el restaurante Himalaya y degusta especialidades como el famoso Pollo tandoori o las Gambas malai. ¡Te encantarán! Si te va lo exótico y los sabores lejanos, ¡reserva mesa y ve con los tuyos a Himalaya!<p>

Su ambientación te trasladará a paraísos remotos. Además, está tan bien situado que se convierte en el sitio ideal para ir a cenar antes de salir a tomar unas copas por el Born u otras zonas turísticas de la ciudad. Si quieres comer bien sin gastarte mucho dinero, pásate por allí. Especias, sabores suaves, otros más picantes... ¡todo se combina en Himalaya!</div>
