<title><% title"Indian Restaurant Barcelona" %></title>
  <div id="emailnotice"><%= notice %></div>

<div id="page">

<ul id="slider">
    <li>
    	<%= image_tag('img/slider/ganesh.jpg' )%>
     </li>
      <li>
        <%= image_tag('img/slider/papadichhat.jpg'  )%>
      </li>
      <li>
        <%= image_tag('img/slider/table.jpg'  )%>
      </li>
      <li>
        <%= image_tag('img/slider/ptmasala.jpg'  )%>

      </li>

</ul>
</div>
<div class="form" >
  <%= render 'form' %>
</div>

<div class="himalaya-description">
  <%=t("himalayas.description1")%><p>
  <%=t("himalayas.description2")%><p>
 <%=t("himalayas.description3")%></div>
