
  <%= render 'form' %>


<div class="owl-carousel">
                <div class="item"> <%= image_tag('himalaya0.jpg')%></div>

                <div class="item"><%= image_tag('himalaya1.jpg') %></div>

                <div class="item"><%= image_tag('himalaya2.jpg') %></div>

                 <div class="item"><%= image_tag('food.jpg') %></div>
                 <div class="item"><%= image_tag('food1.jpg') %></div>


</div>
<div class="phone" >
  <%= image_tag("telephone.png",size: '20x20') %> (+34)931805614
    </div>

<div class="facebook">


<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FRestauranteHimalaya&amp;width=250&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=288053107882273" scrolling="no" frameborder="0"  allowTransparency="true"></iframe>

</div>

