<p id="notice"><%= notice %></p>
<head>
  <!-- Facebook Conversion Code for Himalaya -->
  <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
      var fbds = document.createElement('script');
      fbds.async = true;
      fbds.src = '//connect.facebook.net/en_US/fbds.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(fbds, s);
      _fbq.loaded = true;
    }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6023393235696', {'value':'0.00','currency':'EUR'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023393235696&amp;cd[value]=0.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>
</head>

<p>
  <b>Comensales:</b>
  <%= @himalaya.persona %>
</p>

<p>
  <b>Hora:</b>
  <%= @himalaya.hora %>
</p>

<p>
  <b>Menu:</b>
  <%= @himalaya.menu %>
</p>

<p>
  <b>Fecha:</b>
  <%= @himalaya.fecha %>
</p>


<% if permitted_to? :edit,@himalaya %>
<p>
  <b>Nombre:</b>
  <%= @himalaya.nombre %>
</p>
<p>
  <b>Email:</b>
  <%= @himalaya.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @himalaya.telefono %>
</p>


<%= link_to 'Edit', edit_himalaya_path(@himalaya) %> |
                 <% end %>
     <% if permitted_to? :index,@himalaya %>


<%= link_to 'Back', himalayas_path %>
                 <% end %>
