<title><% title"indian-restaurant-barcelona" %></title>


<div class="owl-carousel">
                <div class="item"> <%= image_tag('himalaya0.jpg')%></div>
                <div class="item"><%= image_tag('himalaya1.jpg') %></div>
                <div class="item"><%= image_tag('himalaya2.jpg') %></div>
                 <div class="item"><%= image_tag('food.jpg') %></div>
                 <div class="item"><%= image_tag('food1.jpg') %></div>
</div>
<p id="notice"><%= notice %></p>
<p>
  <b>Comensales:</b>
  <%= @himalaya.persona %>
</p>

<p>
  <b>Hora:</b>
  <%= @himalaya.hora %>
</p>

<p>
  <b>Menu:</b>
  <%= @himalaya.menu %>
</p>

<p>
  <b>Fecha:</b>
  <%= @himalaya.fecha %>
</p>

<p>
  <b>Nombre:</b>
  <%= @himalaya.nombre %>
</p>

<p>
  <b>Email:</b>
  <%= @himalaya.email %>
</p>

<p>
  <b>Telefono:</b>
  <%= @himalaya.telefono %>
</p>

    <% if permitted_to? :edit,@himalaya %>

<%= link_to 'Edit', edit_himalaya_path(@himalaya) %> |
                 <% end %>
     <% if permitted_to? :index,@himalaya %>


<%= link_to 'Back', himalayas_path %>
                 <% end %>
