<p id="notice"><%= notice %></p>
<div class="form">
 <%= render :partial=>'himalayas/form' %>

</div>

<p>
  <%#= @comida.menu_id %>
</p>

<p>
  <b>Name:</b>
  <%= @comida.name %>
</p>

<p>
  <b>Price:</b>
  <%="#{@comida.price}€" %>
</p>

<p>
<%= link_to image_tag("#{@comida.img}.jpg",size: '150x150') %>
</p>

<p>
  <b>Description:</b>
  <%= @comida.description %>
</p>
 <% if permitted_to? :edit,@comida %>

<%= link_to 'Edit', edit_menu_comida_path(@menu,@comida) %> |
<% end %>
<%= link_to 'volver', menu_comidas_path(@menu) %>

