<title><% title"Vegetrian Indian Restaurant " %></title>

<div class= "form " >
<%= render :partial=>'himalayas/form' %>
</div>



 <div class="menu-style ">

  <span class="menu-text">Menú Degustación -20€</span>

  <p><a><%=t("himalayas.Entrantes")%><p>
<a></p>
  <p><%=t("himalayas.Entrantes1")%></p>
  <p><%=t("himalayas.Entrantes2")%>
  <p><%=t("himalayas.Entrantes3")%>
  <p>
  <p><a><%=t("himalayas.Entrantes4")%><a></p>
  <p><%=t("himalayas.Entrantes5")%>
 <p><%=t("himalayas.o")%> </p>
 <p><%=t("himalayas.Entrantes6")%>
  <p><%=t("himalayas.o")%> </p>
 <p><%=t("himalayas.Entrantes7")%></p><p>
  <p><a><%=t("himalayas.Entrantes8")%></p>
  <p>
  <p>
  <p><%=t("himalayas.Entrantes9")%></p>
  <p><%=t("himalayas.Entrantes10")%></p>
  <p><a><%=t("himalayas.Entrantes11")%></p>
  <p>
  <p><%=t("himalayas.Entrantes12")%></p>
  <p>
    <p> <%=t("himalayas.Entrantes13")%>
  </p>
  <%=t("himalayas.bebida")%>   </p>

  </div>

  </div>


 <!-- Facebook Conversion Code for himalaya -->


