  <div class="nav-hold"><%=link_to"Himalaya",root_url, class: "nav-logo"%>
  <a id="nav-menu" class="nav-menu"> &#9776;</a>
  <ul class="nav-list" id="nav">
        <li><%=link_to"Incio",root_url%></li>
        <li><%=link_to"Carta",menus_path%></li>
        <li><%=link_to"Degustación ",infos_path%></li>
        <li><%=link_to"Mapa",map_path%></li>


   </ul>
</div>






