<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"/>
<title><%= content_for?(:title) ? yield(:title) :"Restaurante-hindú"%>-Himalaya</title>
<meta name="description" content="1.0" />

<meta name="keywords" content="cocina-hindú, restaurante-hindú, barcelona, barcelona indain restaurant, restaurante hindu barcelona, tips, indian restaurant, indian, hindu, indian food, best indain restaurant " />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--[if lt IE 9]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
     </script><![endif]-->
<%= favicon_link_tag "favicon.ico" %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true%>
<%= csrf_meta_tags %>
</head>




<body>
 <nav class="nav-bar"><%= render 'layouts/nav' %></nav>
<div class="main">

  <%= yield %>

  </div>

  <!-- .container-->
  <div class="footer">
    <div class="inner">

          Calle  : Caspe 150 08013,barcelona | E-mail : himalayarestaurante@gmail.com
     <p>
     &copy; 2014 Restaurantehindu (Himalaya)
         <div class=" user_nav">
            <%if user_signed_in? %>
          <%= link_to "cerrar la sesión", destroy_user_session_path,method: :delete %>
               Hola <%= current_user.username %>
               <%= link_to "Reserva", himalayas_path %>
             <% else %>
         <%= link_to "Login", new_user_session_path %>
      <% end %></div>
     <!-- .user_nav-->
    </div>
    </div>
    <!-- .footer -->
   <!-- Google Analytics -->

   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true
 %>

   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-52503362-1', 'auto');
    ga('send', 'pageview');
   </script>

</body>


</html>
