<html>
<!DOCTYPE html>
<html>
<head>
  <title>Himalaya</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<header> <%#=image_tag("himalaya-logo.jpg", size: "50x50") %>
        <nav id="mainnav">
              <ul>
                     <li><%=link_to"Home",root_url%></li>
                      <li><%=link_to"Map",map_path%></li>
                      <li><%=link_to"Menu",menus_path%></li>
                      <li><%=link_to"Offerta",offerta_path%></li>
                    <nav id= "user_nav">
                       <%if user_signed_in? %>
                       <li><%= link_to "cerrar la sesión", destroy_user_session_path,method: :delete %></li>
                       <li>  Hola <%= current_user.username %></li>
                       <% else %>
                       <li> <%= link_to "Regístrate", new_user_registration_path %></li>
                       <li><%= link_to "Entrar", new_user_session_path %></li>
                     <nav>
              </ul>
            <% end %>
        </nav>
</header>

<%= yield %>





</body>

<html>
